*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Poppins',sans-serif;
}

body{
    background:#000;
    color:white;
}

header{
    position:fixed;
    top:0;
    width:100%;
    background:#0a0a0a;
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:15px 50px;
    border-bottom:1px solid #ff4500;
    z-index:1000;
}

nav a{
    color:white;
    text-decoration:none;
    margin-left:30px;
    transition:.3s;
}

nav a:hover{
    color:#ff4500;
}

.hero{
    min-height:100vh;
    display:flex;
    justify-content:space-around;
    align-items:center;
    padding:100px 10%;
    background:radial-gradient(circle,#600000,#000);
}

.hero-text span{
    color:#ff4500;
    font-size:30px;
}

.hero-text h1{
    font-size:90px;
}

.hero-text p{
    color:#ddd;
}

.hero-logo img{
    width:420px;
    max-width:100%;
}

.info{
    display:grid;
    grid-template-columns:1fr 1fr;
    gap:30px;
    padding:80px;
}

.box{
    border:1px solid #ff4500;
    padding:25px;
    border-radius:10px;
}

section{
    padding:80px 60px;
}

section h2{
    margin-bottom:30px;
}

.cards{
    display:flex;
    justify-content:center;
    gap:50px;
    flex-wrap:wrap;
}

.card{
    width:280px;
    background:#111;
    border:1px solid #222;
    text-align:center;
    border-radius:10px;
    overflow:hidden;
    transition:.3s;
}

.card:hover{
    transform:translateY(-10px);
    border-color:#ff4500;
}

.card img{
    width:100%;
    height:220px;
    object-fit:contain;
    padding:20px;
}

.card h3{
    margin:10px 0;
}

.card p{
    padding:20px;
}

.tech-list{
    display:flex;
    justify-content:center;
    flex-wrap:wrap;
    gap:20px;
}

.tech-list span{
    border:1px solid #ff4500;
    padding:12px 25px;
    border-radius:30px;
}

.timeline{
    text-align:center;
}

.line{
    display:flex;
    justify-content:space-between;
    align-items:center;
    margin-top:50px;
    position:relative;
}

.line::before{
    content:"";
    position:absolute;
    top:20px;
    left:10%;
    width:80%;
    height:3px;
    background:#ff4500;
}

.step{
    z-index:2;
}

.circle{
    width:45px;
    height:45px;
    border-radius:50%;
    background:#111;
    border:2px solid #ff4500;
    display:flex;
    justify-content:center;
    align-items:center;
    margin:auto;
}

.members{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
    gap:25px;
}

.members a{
    text-decoration: none;
    color:white
}

.member{
    background:#111;
    padding:15px;
    border-radius:10px;
    border:1px solid #222;
}

.member img{
    width:100%;
    height:250px;
    object-fit:cover;
    border-radius:10px;
}

.member h3{
    margin-top:10px;
}

.member:hover{
    border-color:#ff4500;
}

html{
    scroll-behavior:smooth;
}

@media(max-width:768px) {

    .hero{
        flex-direction:column;
        text-align:center;
    }

    .hero-text h1{
        font-size:55px;
    }

    .info{
        grid-template-columns:1fr;
        padding:30px;
    }

    .line{
        flex-wrap:wrap;
        gap:30px;
    }
}

/*---ESTILIZAÇÃO PÁGINA DOS MEMBROS---*/
main{
    max-width:1200px;
    margin:100px auto 60px;
    padding: 0 30px;
    display:grid;
    grid-template-columns:380px 1fr;
    gap:35px;
    align-items:start;
}

.perfil{
    display:flex;
    flex-direction:column;
    gap:12px;
}

.foto{
    width:100%;
    height:400px;
    object-fit:cover;
    border-radius:15px;
    border:2px solid #ff5a00;
    box-shadow:0 0 25px rgba(255,69,0,.25);
}
/*---Nome---*/
.perfil h1{
    margin:18px 0 5px;
    font-size:2rem;
    color:white;
}
/*---Link Github---*/
.perfil a{
    color:#d4d4d4;
    text-decoration:none;
    font-size:1.3rem;
}

/*---Função---*/
.perfil p{
    margin-top:5px;
    color:#bdbdbd;
    font-size:1.2rem;
}

/*---Muda cor do link---*/
.perfil a:hover{
    color:#ff4500;
}

.texto-logo img {
    height: 50px;
    width: auto;
}

.texto-logo {
    display: flex;
    width: 30px;
    margin-right: 20px;
    align-items: center;
}

/*---Divisões---*/
.sobre,
.projetos{
    background:#111;
    border:1px solid #222;
    border-radius:10px;
    padding:25px;
    transition:.3s;
}

.sobre:hover,
.projetos:hover{
    border-color:#ff4500;
    transform:translateY(-4px);
}

.conteudo{
    display:flex;
    flex-direction:column;
    gap:25px;
    margin-top: 79px;
}

.sobre h2,
.projetos h2{
    color:white;
}

.sobre ul {
    padding-left: 20px;
    list-style-type: none;
}

.sobre li{
    color:#d4d4d4;
}

.projetos a{
    color:#3ea6ff;
    text-decoration:none;
}

/*---RODAPÉ---*/
footer{
    margin-top:70px;
    display:flex;
    padding:40px 60px;
    justify-content:space-between;
    align-items: center;
    border-top:1px solid #161616;
    color:#9d9d9d;
    font-size:.8rem;
    gap: 50px;
}

footer p{
    font-size: .85rem;
    max-width: 700px;
    line-height: 1.8;
    color:#9d9d9d
}

@media(max-width:900px){

    main{

        grid-template-columns:1fr;

    }

    .conteudo{

        margin-top:0;

    }

    .perfil{

        align-items:center;

        text-align:center;

    }

    .foto{

        max-width:320px;

    }

    footer{

        flex-direction:column;

        text-align:center;

    }

}